
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #F8F8F8;
}
.carts-body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}